# Python & cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/

# Django runtime
db.sqlite3
media/
staticfiles/

# Tests & reports
.coverage
htmlcov/

# VCS
.git/
.gitignore

# OS
.DS_Store
Thumbs.db
